<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <div class="col-6 offset-3">
        <a class="btn btn-link mt-3" th:href="@{/notes/{patientId}(patientId=${patient.id})}">
            ← Back to list
        </a>
        <div class="card text-dark bg-light my-3">
            <div class="card-body">


                <div class="container">
                    <div class="row align-items-center">
                        <h2 class="col-8 text-end my-3"
                            th:text="|${patient.familyName} ${patient.givenName}'s note|"></h2>

                        <div class="col-3 btn-group btn-group-sm h-25" role="group">
                            <a th:href="@{/notes/{patientId}/update/{id}(patientId=${patient.id}, id=${note.id})}"
                               class="btn btn-primary btn-sm">
                                Update
                            </a>
                            <a th:href="@{/notes/{patientId}/delete/{id}(patientId=${note.patientId}, id=${note.id})}"
                               class="btn btn-danger btn-sm">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>


                <div th:object="${note}">
                    <div class="row m-3 ">
                        <pre th:text="*{content}" class="col-12 px-1" style="white-space: pre-wrap;"></pre>
                    </div>
                    <div class="row m-3">
                        <div class="col-4 h6 p-1">Creation</div>
                        <p th:text="${#dates.format(note.creationDate, 'dd-MM-yyyy HH:mm')}"
                           class="px-1 col-8"></p>
                    </div>
                    <div class="row m-3" th:if="${note.modificationDate != null}">
                        <div class="col-4 h6 p-1">Last Modification</div>
                        <p th:text="${#dates.format(note.modificationDate, 'dd-MM-yyyy HH:mm')}" class="px-1 col-8"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>