<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update note</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <div class="col-6 offset-3">
        <a class="btn btn-link mt-3" th:href="@{/notes/{patientId}(patientId=${patient.id})}">
            ← Back to list
        </a>
        <div class="card text-dark bg-light my-3">
            <div class="card-body">
                <h2 class="px-2 card-title text-center"  th:text="|Update ${patient.familyName} ${patient.givenName}'s note|"></h2>
                <form method="post"
                      th:action="@{/notes/{patientId}/update/{id}(patientId=${patient.id}, id=${noteUpdate.id})}"
                      th:object="${noteUpdate}">
                    <div class="card-text">
                        <div class=" m-3">
                            <textarea
                                    th:field="*{content}" class="form-control" id="ContentInput"
                                    placeholder="Content"  style="height: 300px">
                                </textarea>
                            <div class="text-danger p-1">
                                <small th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <a class="btn btn-outline-secondary" th:href="${cancelUrl}">
                            Cancel
                        </a>
                        <button type="submit" class="m-3 btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>